.datatable {
    height: 450px;
    padding: 20px;
    text-align: left;
    .link {
        text-decoration: none;
    }

    .dataTableTitle {
        width: 100%;
        font-size: 24px;
        color: rgb(150, 148, 148);
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .addNewBtn {
            color: rgb(0, 128, 0);
            font-size: 15px;
            font-weight: 400;
            border: 1px solid rgba(0, 128, 0, 0.658);
            padding: 5px 10px;
            border-radius: 15px;
        }
    }
    .cellWithImg {
        display: flex;
        align-items: center;
        text-align: left;
        .cellImg {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 5px;
            object-fit: cover;
        }
    }

    .cellWithStatus{
        padding: 5px 25px;
        border-radius: 10px;
        margin: 0 auto;

        &.Active {
            color:green;
            background-color: rgba(0, 128, 0, 0.26);
        }

        &.Pending {
            color: orangered;
            background-color: rgba(255, 166, 0, 0.192);
        }

        &.Passive {
            color: red;
            background-color: rgba(255, 0, 0, 0.144);
        }
    }
    .cellAction {
        display: flex;
        align-items: center;
        gap: 15px;

        & > * {
            padding: 3px 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        .viewButton {
            color: darkblue;
            border: 1px dotted rgba(0, 0, 139, 0.233);
        }
        .deleteButton {
            color: crimson;
            border: 1px dotted rgba(220, 20, 60, 0.411);
        }
    }

}