.table{
    scroll-behavior: smooth;
    height: 91vh;
    overflow: scroll;
    width: 700px;
    border: 1px solid rgba(187, 187, 187, 0.582);
    .tabContent {
        width: 100%;
    }
    .cellWrapper {
        display: flex;
        align-items: center;

        .image {
            width: 50px;
            height: 50px;
            margin-right: 12px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .link {
        text-decoration: none;
        text-align: center;
    }
    .viewButton {
        color: rgb(2, 70, 19);
        border: 1px dotted rgba(1, 70, 1, 0.473);
        background-color: rgba(24, 182, 50, 0.527);
        padding: 5px;
        border-radius: 10px;
    }

    .tableHeadItems > * {
        font-weight: 600;
        font-size: 13px;
        color: rgb(58, 58, 58);
    }

    .status {
        padding: 7px 10px;
        border-radius: 10px;

        &.pending {
            color: goldenrod;
            background-color: rgba(255, 208, 0, 0.507);

        }

        &.approved {
            color: green;
            background-color: rgba(1, 119, 1, 0.253);
        }

        &.canceled {
            background-color: orangered;
        }   

        &.refused {
            color: rgb(218, 32, 32);
            background-color: rgba(255, 30, 0, 0.185);

        }

        &.returned {
            color: rgb(91, 142, 219);
            background-color: rgba(1, 42, 119, 0.253);
        }
        &.retarded {
            color: rgb(44, 41, 41);
            background-color: rgba(50, 51, 50, 0.253);
        }
    }

}
.table::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.table::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.table::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}